/* font-family: 'Poppins', sans-serif; */



* {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;

}

body {
    width: 85vw;
    margin: auto;
}

/* <------*******NAV BAR STILING STARTS HERE*********-------> */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    box-sizing: border-box;
}

.navbar h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24pt;
    cursor: pointer;

}

.logo:hover {
    color: #ef8b42;
    /* background-color: aqua; */
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

    text-decoration: overline;
    cursor: pointer;
}

.navbar ul li {
    padding: 2vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    font-weight: 400;
    /* transition: ease 0.2s; */
    /* color: blue; */
}

.listitem:hover {
    color: #ef8b42;
    font-size: 1.35vw;
    transition: ease 0.2s;
    text-decoration: overline #ef8b42;
    /* background-color: aquamarine; */
}

.iconlist {
    gap: 3%;



}

.navbar ul img {
    padding: 1.5vw;
    border-radius: 100px;
    background-color: #ffffff;
    margin-left: 5%;
}

.menu {
    display: none;
}


/* <-------*********HEAD PART STARTS HERE *************-------> */

.head {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: relative;
    /* background-color: rgb(0, 17, 255); */
}

.headBackground {
    position: absolute;
    top: 0;
    z-index: 1;
}

.p1 {
    /* background-color:rgb(255, 0, 21) ; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    position: relative;
    z-index: 2;
    margin-top: 6vh;
    margin-bottom: 2vh;
    background-color: transparent;
}

.p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.9vw;
    font-weight: 700;
    position: relative;
    z-index: 2;
    background-color: transparent;
    margin-bottom: 2vh;
}

.p3 {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    font-weight: 400;
    max-width: 50%;
    position: relative;
    z-index: 2;
    background-color: transparent;
    margin-bottom: 4vh;
}

.mail {
    /* background-color: aqua; */
    width: 40%;
    position: relative;
}

.head input {
    width: 100%;
    height: 9vh;
    position: relative;
    border: 0px solid;
    box-shadow: none;
    border-radius: 40px;
    background-color: #b3aeae;
    padding-left: 3%;
    color: #e7e5e5;
    font-family: 'Poppins', sans-serif;

    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;


}

.headBackground textarea :focus {
    border: none;
}


.head input textarea:focus,
input:focus {
    border: none;
}

.head button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 30%;
    border: none;
    border-radius: 40px;
    background-color: #ef8b42;
    color: #e7e5e5;
    font-family: 'Poppins', sans-serif;
}

/* <-----********* SECTION 1 STYLING STARTS HERE ***********--------> */
/* <-------****left part *****-----> */
.section1 {
    box-sizing: border-box;
    display: flex;


    margin-top: 10vh;
}

.section1Image {
    border-top-right-radius: 30px;
    border-radius: 30px;
    /* margin-left: 7vw; */
    margin-right: 5vw;
}

/* <------*******RIGHT PART*******------> */
.section1Rightbox {
    position: relative;
    width: 50%;
}

/* <----***RIGHT TOP PART *******-----> */

.section1toppart {
    display: flex;
    justify-content: space-between;
}


.topleft {
    display: flex;
    align-items: center;
    gap: 2vw;
    box-sizing: border-box;
    height: 4vw;

}

.topleft button {
    padding: 1vw;
    border-radius: 200px;
    border: none;
    background-color: #e2dcdc;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2vw;
    color: #ef8b42;
}

.netflix {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* .section1TopRight {
    position: absolute;
    right: 0;
    top: 0;
    
} */
.section1TopRight {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.section1TopRight span {
    color: #ef8b42;
}

/* <-------********RIGHT BOTTOM PART **********-----------> */

.section1RightBoxBottom {
    display: flex;
    justify-content: space-between;
}

.readPost {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.section1RightBoxOvalButtons {
    display: flex;
    gap: 1vw;
}

.ovalBtn {

    border: .1px solid black;
    border-radius: 30px;
    padding: .8vw 1.5vw;
    font-family: 'Poppins', sans-serif;
    color: #b1acac;
    font-size: 1vw;
}

/* <-----**********SECTION 2 STARTS HERE **********------------>
 */

.section2 {
    margin-top: 7vh;
    width: 100%;
    margin: auto;
    position: relative;

}

.section2 h1 {
    margin-top: 7vh;
}

.section2Container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5vh;
    column-gap: 3vw;

}

.containerBoxImage {
    width: 100%;
    /* height: 500px; */
}

.containerBoxTextPart {
    padding-left: 2vw;
}

.boldText {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1.7vw;
}

.thirdPara {
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    font-weight: 400;
}

.containerBoxBottom {
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
}

.bottomItem {
    display: flex;
    align-items: center;
    /* gap: 1vw; */
}

.section2Button{
    padding: 2vw;
    position: absolute;
    right: 0;
    margin-top: 9vw;
    border: none;
    border-radius: 30px;
    background-color: #ef8b42;
    font-family: 'Poppins', sans-serif;
    color:#e2dcdc;


}

@media (max-width:900px) {
    * {
        /* background-color: #ef8b42; */
    }
    body{
        width: 100%;
    }
    .logo{
        position: absolute;
        left: 4vh;
          top: 4vh;
          background-color: transparent;
    }
    .menu {
        display: flex;
        width: 3vw;
        position: absolute;
        right: 4vh;
        top: 4vh;
    }

    .navbar {
        display:block;
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        margin-top: 10vh;
        text-align: center;
        background-color: #facaa7;
    }
    .navlist{
        background-color: transparent;
        display: none;
    }
    .navbar ul {
        /* display: none; */
        background: transparent;

    }
    .navbar ul li {
        background-color: transparent;
        /* color: #e7e5e5; */
        /* width: fit-content; */
        font-size: 2vw;

    }
    .listitem:hover{
        font-size: 2vw;
    }
    .navbar ul img{
        border-right-color: transparent;
    }

    .menu {
        position: absolute;
        /* right: 0; */
        /* top: 0; */
    }


}